* {
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
    /* background-color : gray; */
  }
body{
    margin: 1%;
    border-radius: 10%;
    background-color: rgb(245, 245, 177); 
}

#navbar{
    height: 50px; 
    margin: auto 10%;
    background-color: rgb(228, 228, 59);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
}
#navbar a{
    text-decoration: none; 
    color: rgb(88, 85, 85);
}
#navbar a:hover{
    text-decoration: underline; 
    color: rgb(88, 85, 85);
}
#navbar div{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgb(88, 85, 85);
    /* background-color: rgb(0, 255, 89); */
}
#main-container{ 
    margin: 2% 10%;  
    display: flex;
    flex-direction: column;
    align-content: center;  
}
#intro-container{
    display: flex;
    justify-content: space-evenly;
    color: rgb(88, 85, 85);
}
#intro-container div{
    align-items: center;
    text-align: center;
}
/* --------- above common to all pages  */
#dishimg{
    height: 8rem;
    width:  8rem;
    border-radius: 50%;
}

#dishes-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
    justify-content: space-around;

    /* background-color: aqua; */
    /* height: 100px;
    width: 100%; */
}
#dishes-container > div{
    width: 250px;
    margin: 10px;
    /* background-color: brown; */
}
#srcimg{
    height: 200px;
    margin: 20px 25px 10px;
    border-radius: 10px;
}
#srcimg:hover{
    transition: ease-in-out; 
    transform: scale(1.12); 
    transition: all 1s ease-in-out;
    /* scale: 1.1; */
}
#dishes-container span{
    font-size: 1.1rem;
    margin-right: 25px;
    /* width: 10rem;  */
} 
/* This Favourite meal pages extra css part is here */

#smile{
    width: auto;
}
/* ----------------- */  
#heart{
    cursor: pointer;
    color:  rgb(88, 85, 85);;
}
#heart:hover , #heart-checked:hover{ 
    transform: scale(1.5);
    transition: ease-in-out;
    border-radius: 50%; 
}
#heart-checked{ 
    color: red;
    cursor: pointer;
}
