* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
  }
body{
    margin: 1%;
    border-radius: 10%;
    background-color: rgb(245, 245, 177); 
}
#navbar{
    height: 50px; 
    margin: auto 10%;
    background-color: rgb(228, 228, 59);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
}
#navbar a{
    text-decoration: none; 
    color: rgb(88, 85, 85);
}
#navbar a:hover{
    text-decoration: underline; 
    color: rgb(88, 85, 85);
}
#navbar div{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgb(88, 85, 85);
    /* background-color: rgb(0, 255, 89); */
}
#main-container{ 
    margin: 2% 10%;  
    display: flex;
    flex-direction: column;
    align-content: center;  
}
#intro-container{
    display: flex;
    justify-content: space-around;
    color: rgb(88, 85, 85);
}
#intro-container div{
    align-items: center;
    text-align: center;
}
#dishimg{
    height: 8rem;
    width:  8rem;
    border-radius: 50%;
}

#search-box{
    align-self: center;  
    height: 50px;
    max-height: 200px;
    width: 60%; 
    flex-direction: column;
    border-radius: 10pc;
    border: 1px black solid;
    position: relative;
}
#search-icon{  
    font-size: 2pc; 
    cursor: pointer;
    color: rgb(88, 85, 85); 
    position: absolute; 
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-left: auto;
    margin-top: 9px;
    text-align: center;
}
#input-textbox {   
    background: transparent;
    font-size: large; 
    border: none;  
    border-radius: 10pc; 
    text-align: center;
    height: 50px;
    width: 100%;
}
#input-textbox:focus{
    outline: none; 
}
/* Suggesations */

.suggesstions-wrap .suggesstions {
    margin: 0; 
    padding: 0;  
}
.suggesstions-wrap .suggesstions li {
  list-style: none;
  border-radius: 3px;
  padding: 8px 25px;
  transition: all .5s linear;
}

.suggesstions-wrap {
    display: flex;
    background-color: rgb(240, 245, 194);
    max-height: 300px;
    overflow-y: scroll;
    /* border-radius: 10pc; */
}

.suggesstions-wrap.show {
  display: block;
}

.suggesstions-wrap .suggesstions li:hover {
  background: rgb(228, 228, 59);
}
/* suggesation end  */
#dishes-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
    justify-content: space-around;

    /* background-color: aqua; */
    /* height: 100px;
    width: 100%; */
}
#dishes-container > div{
    width: 250px;
    margin: 10px;
    /* background-color: brown; */
}

#srcimg{
    height: 200px;
    margin: 20px 25px 10px;
    border-radius: 10px;
}
#srcimg:hover{
    transition: ease-in-out; 
    transform: scale(1.12); 
    transition: all 1s ease-out;
    /* scale: 1.1; */
}
#dishes-container span{
    font-size: 1.1rem;
    margin-right: 25px;
    color: rgb(88, 85, 85);
    /* width: 10rem;  */
} 
#heart  {
    cursor: pointer;
    color:  rgb(88, 85, 85);;
}
#heart:hover , #heart-checked:hover{ 
    transform: scale(1.5);
    transition: ease-in-out;
    border-radius: 50%; 
}
#heart-checked{ 
    color: red;
    cursor: pointer;
}
